@media (min-width: 1000px) {
    .container-blog{
        width: 1100px;
        margin-top: 10px;
        background-color: #1F519B;
        padding: 20px;
        border-radius: 20px;
        color: #fff;
    }
}
@media (max-width: 1000px) {
    .container-blog{
        width: 98%;
        margin-top: 5px;
        margin-bottom: 5px;
        background-color: #1F519B;
        padding: 20px;
        border-radius: 20px;
        color: #fff;
    }
}

@media (min-width: 1000px) {
    .social-media-icons{
        width: 70px;
        height: auto;
    }
}
@media (max-width: 1000px) {
    .social-media-icons{
        width: 50px;
        height: auto;
    }
}